
<ul class="class-list">

    <li class="class-item"><a href="class/1">Class 1</a></li>
    <li class="class-item"><a href="class/2">Class 2</a></li>
    <li class="class-item"><a href="class/3">Class 3</a></li>
    <li class="class-item"><a href="class/4">Class 4</a></li>
    <li class="class-item"><a href="class/5">Class 5</a></li>
    <li class="class-item"><a href="class/6">Class 6</a></li>
    <li class="class-item"><a href="class/7">Class 7</a></li>
    <li class="class-item"><a href="class/8">Class 8</a></li>
    <li class="class-item"><a href="class/9">Class 9</a></li>
    <li class="class-item"><a href="class/10">Class 10</a></li>
    <li class="class-item"><a href="class/11a">Class 11 A</a></li>
    <li class="class-item"><a href="class/11b">Class 11 B</a></li>
    <li class="class-item"><a href="class/12a">Class 12 A</a></li>
    <li class="class-item"><a href="class/12b">Class 12 B</a></li>
</ul>